/* ===== CATEGORY PAGE ===== */

.category-title {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    margin-bottom: 40px;
}

/* produkty */
.product-card {
    border: none;
    cursor: pointer;
    transition: 0.3s;
    background: #fff;
}

.product-card img {
    height: 300px;
    object-fit: cover;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card h5 {
    margin-top: 10px;
    font-weight: 500;
}

.price {
    font-weight: bold;
    margin-top: 5px;
}